@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@keyframes slideUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -100vh -110vh;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: cyan;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-13px);
  }

  100% {
    transform: translateY(0);
  }
}

.floating-element-1 {
  animation-name: float;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.floating-element-2 {
  animation-name: float;
  animation-duration: 6.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.floating-element-3 {
  animation-name: float;
  animation-duration: 7.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

#typed-text {
  padding-right: 5px;
  border-right: 2px solid #ffffff;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(30) infinite, blink-caret 1s step-end infinite;
}

.active{
  @apply shadow-lg shadow-slate-500;
}

.animated-element {
  animation: slide-up 1s ease-in-out infinite;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
